body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background: #0c224e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #0078d4;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}


header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; 
    margin-top: 10px;
}


.profile-pic {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;
    object-position: center; 
    margin-top: 10px; 
}
